@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

@theme {
  --color-primary: #572127;
  --color-new-white: #FAF3EF;
  --color-secondry: #A97474;
  --color-steel-gray: #58595B;
  --color-maroon-800: #832e35;
  --color-off-white: #efefef;
  --color-dark: #3d3d3d;
}

*{
  font-family: "Roboto", sans-serif;
}